<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- HTMX CDN -->
   <script src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"></script>
   <!-- Tailwind CDN -->
   <script src="https://cdn.tailwindcss.com"></script>

   <title>htmX69</title>
</head>

<body>

   <div class="text-center">
      <h1 class="text-2xl font-bold my-5">
         Request Example
      </h1>

      <button hx-get="data.html" hx-trigger="click" hx-target="#here"
         class="bg-blue-500 text-white py-2 px-2 my-5 rounded-lg">HTMX <i>Go!</i></button>

      <button hx-get="data/schema.json" hx-trigger="click" hx-target="#here"
         class="bg-blue-500 text-white py-2 px-2 my-5 rounded-lg">HTMX <i>Go 2!</i></button>

   </div>

   <br>

   <div id="here" class="container text-center flex justify-center m-auto"></div>

</body>

</html>